.bg {
  height: 100%;
}

.info_text {
  margin: 0;
  margin-left: 10vw;
  padding-top: 10vh;
  position: absolute;
}
 
.info_text > .text1{
  width: 3ch;
  margin: 0;
  overflow: hidden; 
  white-space: nowrap;
  border-right: .05em solid #fff;
  animation: typing1 .2s steps(3),
  cursor1 1s steps(1) infinite;
  animation-fill-mode: forwards;
  font-size: 4em;
}

.info_text > .text2{
  width: 15ch;
  margin: 0;
  overflow: hidden;
  opacity: 0;
  white-space: nowrap;
  border-right: .05em solid #fff;
  animation: typing2 .5s steps(15),
  cursor2 1s steps(1) infinite;
  animation-delay: .2s;
  animation-fill-mode: forwards;
}

.info_text > .text3{
  width: 25ch;
  margin-top: 50px;
  overflow: hidden;
  opacity: 0;
  white-space: nowrap;
  border-right: .05em solid #fff;
  animation: typing3 .6s steps(32),
  cursor3 1s steps(1) infinite;
  animation-delay: .7s;
  animation-fill-mode: forwards;
  font-size: 1.5em;
}

@keyframes typing1{
  from{ width: 0; }
  to{border: none;}
}
@keyframes cursor1{
  50%{ border-color: transparent; }
}

@keyframes typing2{
  from{ width: 0; opacity: 1;}
  to{border: none; opacity: 1;}
}
@keyframes cursor2{
  50%{ border-color: transparent; }
}

@keyframes typing3{
  from{ width: 0; opacity: 1;}
  to{opacity: 1;}
}
@keyframes cursor3{
  50%{ border-color: transparent; }
}

.img {
  width: 15vw;
  height: 15vw;
  margin-left: 65%;
  margin-top: 30%;
  animation: infiniteSpin 30000ms linear infinite;
  /* background-image: url('../../common/images/indu.png'); */
}

/* @keyframes infiniteSpin {
  0% {
    margin-left: 0;
    margin-top: 0;
    transform: rotate(0deg);
  }
  100% {
    margin-left: 90vw;
    margin-top: 77vh;
    transform: rotate(360deg);
  }
} */

@keyframes infiniteSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}